<section id="contact-us">
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3><strong>QUICK LINKS</strong></h3>
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO Website</a></li>
                        <li><a href="https://www.worldometers.info/coronavirus/">Worldometer</a></li>
                        <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>GET INVOLVED</h3>
                    <ul>
                        <li><a href="#">Volunteer</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>APPEAL</h3>
                    <p>We request you to donate benevolently. Any amount, small or large, will go a long way towards ensuring that CovPatron is rendered capable of aiding everyone in distress during the COVID-19 crisis.&nbsp; &nbsp;&nbsp;</p>
                </div>
                <div class="col">
                    <div></div>
                    <p>Email us at&nbsp; info@covpatron.org</p>
                    <p>Phone : 99xxx67xxx, 83xxxx43xx</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">CovPatron © 2021</p>
        </div>
    </footer>
</section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>