<%- include('partials/header'); -%>
<section id="about-section" class="highlight-clean" style="background: url(&quot;assets/img/bgcov.svg&quot;) center / cover no-repeat;">
    <div class="container about">
        <div class="intro about-header">
            <h2 class="text-center about-covp" data-aos="fade-up" data-aos-delay="500" style="color: #007580;">About Us</h2>
            <p class="text-center about-text" data-aos="fade-up" data-aos-delay="600" style="color: #282846;">CovPatron is an international online donation camp supporting various NGO's to help save&nbsp;<strong>COVID</strong>&nbsp;hit underprivileged families &amp; children.&nbsp; We aim to support all such people who have been rendered homeless and without a livelihood, with quality care of their children compromised.&nbsp;</p>
        </div>
    </div>
</section>
<%- include('partials/footer'); -%>