<%- include('partials/header'); -%>
<nav class="navbar navbar-light navbar-expand-md nav-lap">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;assets/img/logo.svg&quot;) center / 80% no-repeat;width: 120px;margin: 0;padding: 0;height: 120px;border-radius: 0;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active head-link" href="/" style="color: #007580;">Home</a></li>
                <li class="nav-item"><a class="nav-link active head-link" href="/about" style="color: #007580;">About</a></li>
                <li class="nav-item"><a class="nav-link active head-link" href="/ourSupport" style="color: #007580;">our Support</a></li>
                <li class="nav-item"><a class="nav-link active" href="/contact" style="color: #007580;">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="about-section" class="highlight-clean" style="background: url(&quot;assets/img/bgcov.svg&quot;) center / cover no-repeat;">
    <div class="container about">
        <div class="intro about-header">
            <h2 class="text-center about-covp" data-aos="fade-up" data-aos-delay="500" style="color: #007580;">About Us</h2>
            <p class="text-center about-text" data-aos="fade-up" data-aos-delay="600" style="color: #282846;">CovPatron is an international online donation camp supporting various NGO's to help save&nbsp;<strong>COVID</strong>&nbsp;hit underprivileged families &amp; children.&nbsp; We aim to support all such people who have been rendered homeless and without a livelihood, with quality care of their children compromised.&nbsp;</p>
        </div>
    </div>
</section>
<%- include('partials/footer'); -%>