<%- include('partials/header'); -%>
<section id="hero">
    <nav class="navbar navbar-light navbar-expand-md nav-lap" data-aos="fade-up" data-aos-delay="650">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="background: url(&quot;assets/img/logo.svg&quot;) center / 80% no-repeat;width: 120px;margin: 0;padding: 0;height: 120px;border-radius: 0;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active head-link" href="/" style="color: #007580;">Home</a></li>
                    <li class="nav-item"><a class="nav-link active head-link" href="/about" style="color: #007580;">About</a></li>
                    <li class="nav-item"><a class="nav-link active head-link" href="/ourSupport" style="color: #007580;">our Support</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/contact" style="color: #007580;">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-end" data-aos="fade-up" data-aos-delay="700" id="header-title">CovPatron</h1>
    <h3 class="text-end" data-aos="fade-up" data-aos-delay="750" id="subhead">Join our worldwide donation</h3>
    <h3 class="text-end" data-aos="fade-up" data-aos-delay="800" id="subhead">camp to help people worst-hit by COVID-19.</h3><button class="btn btn-primary" data-aos="fade-up" data-aos-delay="850" id="donate-btn" type="submit">DONATE</button>
</section>
<%- include('partials/footer'); -%>