<%- include('partials/header'); -%>
<section id="support" class="features-blue help-pointers">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" data-aos="fade-up" data-aos-delay="600" style="color: #fed049;">Any amount of help is crucial during this humanitarian crisis. Your donation will support the following.</h2>
            <p class="text-center"></p>
        </div>
        <div class="row features">
            <div class="col-sm-6 col-md-4 item" data-aos="fade-up" data-aos-delay="650"><i class="fas fa-check-double icon"></i>
                <h3 class="name">Covid-relief kit for poor.</h3>
                <p class="description">The covid-relief kit will include oximeter, thermal scanner, PPE kits, face masks/covers, sanitisers, BP Machine, gloves, medicines, etc.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-up" data-aos-delay="700"><i class="fas fa-check-double icon"></i>
                <h3 class="name">Food-relief kit for poor</h3>
                <p class="description">The food-relief kit will include dry ration for a month. Items such as rice, wheat, sugar, salt, tea, milk powder, lentils, etc to be included in each kit.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-up" data-aos-delay="750"><i class="fas fa-check-double icon"></i>
                <h3 class="name">Meal delivery to slums</h3>
                <p class="description">We will provide daily meals to remote slum areas within reach of our partner NGO's.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-up" data-aos-delay="800"><i class="fas fa-check-double icon"></i>
                <h3 class="name">Oxygen help</h3>
                <p class="description">We will provide oxygen cylinders and concentrator machines to anyone in need.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-up" data-aos-delay="850"><i class="fas fa-check-double icon"></i>
                <h3 class="name">Monetary help for orphanages</h3>
                <p class="description">We will be providing monetary help to orphanages who have taken up the responsibility of kids who lost both their parents due to covid.</p>
            </div>
            <div class="col-sm-6 col-md-4 item" data-aos="fade-up" data-aos-delay="900"><i class="fas fa-check-double icon"></i>
                <h3 class="name">Monetary help to those deserted.</h3>
                <p class="description">We will also be providing monetary help to deserted elderly and other such families who have lost the only earning member of their family due to covid.</p>
            </div>
        </div>
    </div>
</section>    
<%- include('partials/footer'); -%>
